/* .align-vertical {
    display: flex;
      align-items: center;
      justify-content: center;
      min-height: 70vh;
  } */
  .filter_content{
    border-radius: 10px;
border: 1px solid #000;
background: #FFF;
  }